h1,
h2 {
  padding: 20px;
}

header {
  height: 200px;
  display: flex;
  justify-content: space-between;
  background: #ececec;
}

nav {
  display: flex;
  justify-content: center;
  background: #dddddd;
}

main {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: #c9c9c9;
}

footer {
  display: flex;
  justify-content: center;
  background: #bbbbbb;
}

#title {
  flex: 1;
  background: #ffffff;
}

#content {
  flex: 1;
  background: #ffffff;
}

aside {
  width: 300px;
}

#aside-wide {
  width: 400px;
}