@import url('https://fonts.googleapis.com/css?family=Cormorant:300,400|Open+Sans:400,400i,600');

/* * {
  border: 1px solid lightblue;
} */

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: dodgerblue;
}

h1,
h2,
h3,
h4 {
  font-family: 'Cormorant', serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 4em;
  text-transform: uppercase
}

header {
  height: 160px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
}

#title {
  flex: 1;
}

#content {
  flex: 1;
}

aside {
  width: 300px;
}

.head_click {
  text-transform: uppercase;
}

.small_text {
  font-size: 0.8em;
}

.align_right {
  text-align: right
}


/* header */

#search_box {
  width: 260px;
  height: 30px;
}


/*  menu */

.nav_main,
.nav_small {
  display: flex;
  justify-content: center;
  margin: 4px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_main li {
  display: inline;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-right: 30px;
  margin-left: 30px;
}

.menu_small li {
  display: inline;
  font-size: 1em;
  margin-right: 20px;
  margin-left: 20px;
}

.menu_small li a {
  color: lightslategray;
}

.nav_border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

hr {
  width: 100%;
  border-top: 1px;
  background: lightslategray;
}


/* side nav */

.path {
  margin: 10px;
}

.side_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side_nav li a {
  color: lightslategray;
}

.side_nav li a:hover {
  color: dodgerblue;
}

.side_nav_title {
  text-transform: uppercase;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  font-size: 1.2em;
  margin: 30px 10px 10px 10px;
}

.side_nav_item {
  margin: 10px;
}

.side_nav_item_button {
  color: darkblue !important;
}


/* shop */

#aside-wide {
  width: 300px;
  height: 160px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}

.shop_button {
  width: 140px;
  height: 50px;
  align-self: center;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}


/* footer */

footer {
  background-color: rgb(46, 46, 46);
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
}

.footer_link,
.footer_link a {
  color: white;
}

footer div {
  align-self: center;
  margin: 10px;
}